{% extends "base.html" %}

{% block body %}
	<body onresize="resizeRowHeight()"></body>
{% endblock %}

{% block content %}
	<div class="content-posts" id="grid">
		<a class="item" href="{{ url_for('upload', username=current_user.username) }}">
			<img src="../static/images/add-item.png" alt="Add item">
			<div class="text">hello hello</div>
		</a>
		<div class="item">
			<img src="../static/images/add-item.png" alt="Add item">
			<div class="text">hello hello</div>
		</div>
		<div class="item">
			<img src="../static/images/add-item.png" alt="Add item">
			<div class="text">hello hello</div>
		</div>
		<div class="item">
			<img src="../static/images/add-item.png" alt="Add item">
			<div class="text">hello hello</div>
		</div>
	</div>
{% endblock %}

{% block sidebar %}
	<br><p> User: {{ user.username }} </p> <br>
	<p> <a class=btn href="{{ url_for('logout') }}">Logout</a> </p>
{% endblock %}

{% block script %}
<script>
	function resizeRowHeight() {
		var grid = document.getElementById('grid');
		var width = parseInt(window.getComputedStyle(grid).getPropertyValue('grid-template-columns'));
		grid.style.gridAutoRows = width + "px";
	}

	resizeRowHeight();

</script>
{% endblock %}