<!DOCTYPE html>
<html lang="en">

<head>
<title>huixtocihuatl</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<div class="centre">
		<div id="titlepage">
			<div class="item-top">
				<div class="header"> 
					<h1>huixtocihuatl</h1>
				</div>
			</div>
			<div class="item-bottom"> 
				<h1>homepage logged in</h1>
			</div>
		</div>
	</div>
</body>


</html>